<mat-toolbar color="primary">
  <div class="nav-left">
    <span class="logo">
      <mat-icon>movie</mat-icon>
      Realtime
    </span>

    <button mat-button routerLink="/home">Home</button>
    <button mat-button [matMenuTriggerFor]="moviesMenu">Movies</button>
    <button mat-button [matMenuTriggerFor]="tvMenu">TV Shows</button>
  </div>

  <div class="nav-right">
    <button mat-button [matMenuTriggerFor]="userMenu" class="profile-btn">
      <mat-icon class="avatar-icon">account_circle</mat-icon>
      <span class="username">{{ username || 'User' }}</span>
    </button>
  </div>
</mat-toolbar>

<!-- Movies Dropdown -->
<mat-menu #moviesMenu="matMenu">
  <button mat-menu-item routerLink="/movies/popular">Popular</button>
  <button mat-menu-item routerLink="/movies/now-playing">Now Playing</button>
  <button mat-menu-item routerLink="/movies/upcoming">Upcoming</button>
  <button mat-menu-item routerLink="/movies/top-rated">Top Rated</button>
</mat-menu>

<!-- TV Shows Dropdown -->
<mat-menu #tvMenu="matMenu">
  <button mat-menu-item routerLink="/tv/popular">Popular</button>
  <button mat-menu-item routerLink="/tv/on-air">On Air</button>
  <button mat-menu-item routerLink="/tv/airing-today">Airing Today</button>
  <button mat-menu-item routerLink="/tv/top-rated">Top Rated</button>
</mat-menu>

<!-- User Menu -->
<mat-menu #userMenu="matMenu">
  <ng-container *ngIf="username; else guestOptions">
    <button mat-menu-item routerLink="/profile">My Profile</button>
    <button mat-menu-item routerLink="/watch-later">Watch Later</button>
    <button mat-menu-item routerLink="/liked">Liked Videos</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #guestOptions>
    <button mat-menu-item routerLink="/login">Login</button>
    <button mat-menu-item routerLink="/register">Sign Up</button>
  </ng-template>
</mat-menu>
