.movie-layout {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 260px;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
  }
  
  .content {
    flex-grow: 1;
    padding: 24px;
  }
  