<div class="movie-section" *ngIf="movies.length > 0; else emptyState">
    <h2 class="section-title">Your Liked Movies</h2>
  
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of movies">
        <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title" />
  
        <div class="info">
          <h4 class="title">{{ movie.title }}</h4>
          <p class="date">{{ movie.release_date | date }}</p>
  
          <div class="actions">
            <a [routerLink]="['/movie', movie.id]" class="details-btn">Details</a>
            <button class="remove-btn" (click)="removeMovie(movie.id)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #emptyState>
    <p class="empty-message">No movies found in this list.</p>
  </ng-template>
  