<h3 class="section-title">Filters</h3>

<div class="filter-section">
  <h4>Show Me</h4>
  <mat-radio-group>
    <mat-radio-button value="everything" checked>Everything</mat-radio-button><br />
    <mat-radio-button value="notSeen">Movies I Haven't Seen</mat-radio-button><br />
    <mat-radio-button value="seen">Movies I Have Seen</mat-radio-button>
  </mat-radio-group>
</div>

<div class="filter-section">
  <h4>Availabilities</h4>
  <mat-checkbox checked>Search all availabilities?</mat-checkbox>
</div>

<div class="filter-section">
  <h4>Release Dates</h4>
  <mat-checkbox checked>Search all releases?</mat-checkbox>

  <mat-form-field appearance="fill" class="date-field">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="fromPicker" />
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="date-field">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="toPicker" />
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
</div>
