mat-toolbar {
    background-color: #f06292 !important; /* Stronger pink */
    color: #ffffff !important;
  }
  
  /* Make nav buttons white */
  mat-toolbar button,
  mat-toolbar button .mat-button-wrapper,
  mat-toolbar .mat-icon {
    color: #ffffff !important;
  }
  